.board {
  background-image: url("/src/images/board.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 80vh;
  aspect-ratio: 1 / 1;
  margin: 5vw;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
