.container {
  width: 100vw;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  width: min-content;
  height: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message {
  margin: 10px;
}

.textField > div,
.button {
  height: 50px;
  width: 200px;
  border-radius: 10px;
  margin: 10px;
  color: var(--clr-dark);
}

.textField > label {
  top: 12%;
  left: 3.7%;
}

.textField > div > fieldset {
  border: 1px solid var(--clr-dark);
}

.button:hover {
  background-color: var(--clr-primary);
  color: var(--clr-dark);
}

.button,
.button:hover {
  border: 2px solid var(--clr-dark);
}
