.container {
  width: 100vw;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  background-image: url("/src/images/board.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 80vh;
  height: 80vh;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
