.footer {
  display: flex;
  -webkit-box-align: center;
  justify-content: center;
  align-items: center;
  height: 6vh;
  border-top: 1px solid var(--clr-dark);
  padding: 5px;
}

.item,
.item:hover {
  color: var(--clr-primary);
  padding: 0 1vw;
}
