*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Properties */
:root {
  --clr-background: #b5bab6;
  --clr-primary: #c75546;
  --clr-light: #ebe4d8;
  --clr-medium: #818181;
  --clr-dark: #111111;
}
