.snackbar {
  height: 10vh;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.snackbar > div {
  display: flex;
  align-content: center;
  background: rgba(250, 0, 0, 0.75);
  border: 2px solid var(--clr-dark);
  width: 200px;
  height: 10vh;
  max-height: 45px;
}

.snackbar > div > div {
  color: var(--clr-dark);
  font-size: large;
}
