.header {
  display: flex;
  -webkit-box-align: center;
  justify-content: center;
  align-items: center;
  height: 6vh;
  border-bottom: 1px solid var(--clr-dark);
  padding: 5px;
}

.title {
  background-image: url("/src/images/title.png");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}

.spacer {
  border-left: 2px solid var(--clr-primary);
  height: 4vh;
  margin: 0 15px;
}

.left,
.right {
  height: 100%;
  display: flex;
  align-items: center;
  width: 50%;
}

.left {
  float: left;
  justify-content: left;
}

.right {
  float: right;
  justify-content: right;
}
