.menu {
  display: flex;
}

.box,
.boxSelected {
  padding: 0 1vw;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.box:hover {
  border-bottom: 1px solid var(--clr-dark);
}

.boxSelected:hover {
  border-bottom: 1px solid var(--clr-primary);
}

.link {
  font-weight: bold;
  color: var(--txt-dark);
}

.linkSelected {
  color: var(--txt-primary);
}
